@font-face {
    font-family: "MesloLGS NF";
    src: url("assets/MesloLGS NF Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #282c32;
  display: flex;
  flex-direction: column;
  font-family: "MesloLGS NF";
  color: #eee;
  font-size: 18px;
}

#content-container {
  display: flex;
  flex-direction: column;
  color: #eee;
  margin: 0rem 2rem 3rem;
  font-size: 18px;
}

ul {
  list-style: "- " inside;
}

header {
  background-color: #4e4e4e;
  color: #adadad;
  margin: 2rem;
  margin-bottom: 0;
  /* padding: 0.5rem; */
}

header > div {
  cursor: pointer;
  float: left;
  clear: none;
}

header > div:hover {
  color: #eee;
}

header > div > .icon {
  color: #adadad;
}

header > .active-tab {
  background-color: #282c32;
}

header > .active-tab > .icon {
  color: #d86e74;
}

h1 {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

h2,h3,p {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
}

footer > div {
  color: #fff;
  font: 18px "MesloLGS NF";
  text-align: center;
  padding: 0.2em 0.8em;
}

footer > #footer-mode,#footer-distance {
  background-color: #8fbfdc;
  color: #000;
}

footer > #footer-page,#footer-percent {
  background-color: #4e4e4e;
  color: #adadad;
}

footer > #footer-center {
  text-align: left;
  background-color: #303030;
  color: #adadad;
  flex: 1;
}

.short-text {
  display: none;
}

/* Mobile Footer */
@media only screen and (max-width: 600px) {
  footer > #footer-center {
    font-size: 0;
  }
  footer > #footer-distance {
    display: none;
  }
  footer > #footer-percent {
    background-color: #8fbfdc;
    color: #000;
  }
  .short-text {
    display: inline-block;
  }
  .full-text {
    display: none;
  }
}

a {
  text-decoration: underline;
  color: #eee;
}
a:visited { color: #eee; }
a:hover { color: #8fbfdc; }

