@font-face {
    font-family: "MesloLGS NF";
    src: url("assets/MesloLGS NF Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #282c32;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "MesloLGS NF";
  color: #eee;
  margin: 2rem;
}

h1 {
  padding-bottom: 2rem;
}

p {
  white-space: pre-line;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width:100%;
  display: flex;
  flex-direction: row;
}

footer > div {
  color: #fff;
  font: 18px "MesloLGS NF";
  text-align: center;
  padding: 0.2em 0.8em;
}

footer > #footer-mode,#footer-distance {
  background-color: #8fbfdc;
  color: #000;
}

footer > #footer-page,#footer-percent {
  background-color: #4e4e4e;
  color: #adadad;
}

footer > #footer-center {
  text-align: left;
  background-color: #303030;
  color: #adadad;
  flex: 1;
}

/* Mobile Footer */
@media only screen and (max-width: 600px) {
  footer > #footer-center {
    font-size: 0;
  }
  footer > #footer-distance {
    display: none;
  }
  footer > #footer-percent {
    background-color: #8fbfdc;
    color: #000;
  }
  /* footer > #footer-mode {
    font-size: 0px;
  }
  footer > #footer-mode::first-letter {
    font-size: 18px;
  } */
}
